.notification {
  &-box {
    margin-left: 15px;
    position: relative;
  }
  &-btn {
    font-size: 30px;
    @include center;
  }
  &-count {
    position: absolute;
    padding: 3px;
    border-radius: 50%;
    background-color: $red;
    height: 12px;
    font-size: 14px;
    color: $white;
    font-weight: 700;
    width: 12px;
    top: 0;
    right: 0;
    @include center;
  }
}
.notifications {
  &__container {
    padding: calc(#{$size} * 3) 0;
    background-color: $white;
    position: relative;
    height: auto;
  }
  &_box {
  }
  &__item {
    display: flex;
  }
  .notification {
    display: flex;
    background-color: #fff9f2;
    padding: 20px 30px;
    position: relative;
    &-read {
      background-color: $white;
    }
    width: 100%;
    &__sender {
      height: 35px;
      width: 35px;
      margin-right: 25px;
      display: flex;
    }
    &__date {
      color: $background-100;
      margin-bottom: 10px;
    }
    &__data {
      font-weight: 700;
      margin-bottom: 10px;
    }
    &__text {
      font-size: 12px;
    }
    &__name {
      font-weight: 600px;
      color: $grey-400;
    }
    &__remove {
      position: absolute;
      right: 10px;
      font-size: 20px;
      top: 25px;
      color: $red;
      z-index: 50;
    }
  }
}
