@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400&display=swap");
body {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  background-color: #e5e5e5;
}
.container {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.btn {
  border-radius: 130px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  padding: 20px 0;
  margin-bottom: 30px;
  display: flex;
  transition: all 0.5s ease;
}
.addPostLink {
  height: 74px;
  width: 74px;
  border-radius: 50%;
  background-color: $orange;
  @include center;
  border: solid 1px transparent;
  box-shadow: 0px 8px 10px rgba(141, 106, 66, 0.29);
  transition: background-color, border-color ease 0.5s;
  position: absolute;
  svg {
    color: $white;
    font-size: 26px;
    transition: font-size ease 0.5s;
  }
  &:hover {
    background-color: $red;
    svg {
      font-size: 30px;
    }
  }
  &:focus {
    border-color: $black;
  }
}
.search-query {
  display: flex;
  position: relative;
  &__input {
    padding: 20px;
    background-color: $white-100;
    border-radius: 73px;
    width: 100%;
    outline-color: transparent;
    border-color: transparent;
  }
  svg {
    position: absolute;
    font-size: 30px;
    right: 12px;
    top: 17px;
    color: $grey-300;
  }
}
